DB_HOST=mysql_db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tonpassword
DB_NAME=sfe_dwh
DB_POOL_SIZE=10
DATA_FOLDER=./data_source
BATCH_SIZE=500
MAX_RETRIES=3
LOG_LEVEL=INFO
HASH_ALGO=sha256
TESTING_MODE=false